---
layout: default
---

<div class="home">
	
  <h1>404. This is an error.</h1>
	
  <p>The requested URL was not found on this server. Sorry for that. Here are the latest posts on my blog.</p>
  
  {% include search.html %}

  <ul class="post-list lists cool-bullet">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">- {{ post.date | date: "%b %-d, %Y" }}</span>
        <p> {{ post.description }} </p>
      </li>
    {% endfor %}
  </ul>

</div>
