<p>I am a Romanian programmer, currently working in <i class="fa fa-map-marker"></i> London, UK.</p>
<p>I am working with PHP, Magento, Wordpress, JavaScript, jQuery, Angular, NodeJs, Python, SASS, Foundation, Bootstrap, git, PhantomJs, CasperJs.</p>
<p>Most of Google's web products are on my radar, especially <span>analytics</span> and <span>angular</span></p>
<p>To see my projects you can check my <a href="https://github.com/ClaudiuCreanga/" target="_blank"><i class="fa fa-github-alt"></i></a>.
<p>Movies: Coen Brothers and Ghibli are on top. More about this in the stuff section. </p>
<a href="http://stackexchange.com/users/1232792">
<img src="http://stackexchange.com/users/flair/1232792.png" width="208" height="58" alt="profile for Claudiu Creanga on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Claudiu Creanga on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a>