<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="uW7BOzLAnS6PeG5ABHtZ5itVyDXgHNd-J-lrmB96GiI" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/fonts/fonts.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ "/assets/scripts/foundation.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/foundation.offcanvas.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/foundation.topbar.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/main.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/lunr.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/search.js" | prepend: site.baseurl }}"></script>
  {% seo %}
</head>
