<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    
    {% include block.html %}

    <div class="wrapper">
	    
	  {% if page.url == "/index.html" or page.url == "" %}
	  
  	  	<h1 class="page-heading" itemprop="name">Latest posts</h1>
  	  	
  	  {% elsif page.url == "/magento.html"  %}
  	  
	  	<h1 class="page-heading" itemprop="name">All posts in Magento category</h1>
  	  
  	  {% elsif page.url == "/google-analytics.html"  %}
  	  
	  	<h1 class="page-heading" itemprop="name">All posts in Google Analytics category</h1>
  	  
  	  {% elsif page.url == "/frontend.html"  %}
  	  
	  	<h1 class="page-heading" itemprop="name">All posts in Frontend category</h1>
  	  
  	  {% else %}
  	  
  	  	<h1 class="page-heading" itemprop="name">{{ page.title }}</h1>
  	  	
	  {% endif %}
	    
      <div class="col-main">
	      
        {{ content }}
        
      </div>
      
      <div class="col-right">
	  	
	  	{% include search.html %}

	  	{% include popular.html %}
	  	
	    {% include categories.html %}

      </div>
      
    </div>

    {% include footer.html %}

  </body>

</html>
